<div class="report">
    <div class="row margin-bottom-sm">
        <div class="col-12">
            <retail_filters-form
                [Periods]="PeriodList"
                [Metrics]="MetricListForFilter"
                [Entities]="EntityListForFilter"
                [Settings]="FilterSetting"
                (Accept)="onAcceptFilter($event)"
                (ResetStorage)="resetFilterState()">
            </retail_filters-form>
            <div class="report__filter-button">
                <atoms_button-ui
                    (click)="selectDelta()"
                    [Active]="WithDelta"
                    Type="primary"
                    Theme="outline">
                    <atoms_svg-icon-form
                        Size="xxs"
                        Type="percent">
                    </atoms_svg-icon-form>
                </atoms_button-ui>
            </div>
            <div class="report__filter-button">
                <atoms_button-ui
                    (click)="selectComparePercentage()"
                    [Active]="WithComparePercentage"
                    Type="primary"
                    Theme="outline">
                    <atoms_svg-icon-form
                        Size="xxs"
                        Type="delta">
                    </atoms_svg-icon-form>
                </atoms_button-ui>
            </div>
        </div>
    </div>
    <atoms_button-ui
        Type="primary"
        (click)="unloadReport()"
        [Disabled]="IsReportInProgress || !IsValid">
        {{ 'button.unload' | translate }}
    </atoms_button-ui>
    <atoms_divider-form></atoms_divider-form> 
    <div class="row margin-top-xs">
        <div class="col-12">
            <img src="assets/img/report/report-comparison.png" class="report__image" alt="Report Comparison">
        </div>
    </div>
</div>